@{
    ViewData["Title"] = "Staff Dashboard";
}

<!-- Sidebar -->
<aside class="col-md-2 bg-dark text-white vh-100 p-3 position-fixed">
    <h4 class="fw-bold">Staff Panel</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark text-white border-0">
            <a asp-controller="Staff" asp-action="ManageCategories" class="text-white text-decoration-none">Manage Categories</a>
        </li>
        <li class="list-group-item bg-dark text-white border-0">
            <a asp-controller="Staff" asp-action="ManageNewsArticle" class="text-white text-decoration-none">Manage News</a>
        </li>
        <li class="list-group-item bg-dark text-white border-0">
            <a asp-controller="Staff" asp-action="Profile" class="text-white text-decoration-none">Profile</a>
        </li>
        <li class="list-group-item bg-dark text-white border-0">
            <a asp-controller="Staff" asp-action="NewsHistory" class="text-white text-decoration-none">News History</a>
        </li>
        <li class="list-group-item bg-dark text-white border-0">
            <a asp-controller="Account" asp-action="Logout" class="text-white text-decoration-none">Logout</a>
        </li>
    </ul>
</aside>
