@{
    ViewData["Title"] = "Staff Dashboard";
}

<h2>Staff Dashboard</h2>
<ul>
    <li><a asp-controller="Staff" asp-action="ManageCategories">Manage Categories</a></li>
    <li><a asp-controller="Staff" asp-action="ManageTags">Manage Tags</a></li>
    <li><a asp-controller="Staff" asp-action="ManageNewsArticle">Manage Newsarticle</a></li>
    <li><a asp-controller="Staff" asp-action="Profile">Profile</a></li>
    <li><a asp-controller="Staff" asp-action="View news history">News History</a></li>

</ul>
